@charset "utf-8";
/* CSS Document */
body{font-size: 1.4vh '微软雅黑';}
ul,li{list-style: none;padding: 0;margin: 0;}
@font-face {font-family: 'fzzzh';/*这里填写字体名*/src: url(../fonts/fzzzh.ttf);}
@font-face {font-family: 'ysbth';/*这里填写字体名*/src: url(../fonts/ysbth.ttf);}
/*header*/
.body_bg{height:100vh;background: url("../img/body_bg.jpg") center center no-repeat;background-size: 100% 100%;overflow: hidden;}
.header_box{width: 100%;height: 8vh;line-height: 7.6vh; background: url("../img/bg_header.png") top center no-repeat;background-size: 100% 100%;text-align: center;}
.header_box span{font-size: 3.8vh;color: #fff;font-family: 'fzzzh';text-shadow: 5px 5px 15px rgba(0,0,0,0.2);letter-spacing: 3px;}

.content{height: 90vh;overflow: hidden;}
/*left*/
.GYtitle{font-size: 1.8vh;color: #fff;height: 4vh;line-height: 3.6vh;padding-left: 0.8vw;background: url("../img/bg_title.png") no-repeat;background-size: 100% 100%;letter-spacing: 2px;}
/*1*/
.left01{}
.left01_contnet{padding: 3vh 1.5vw 0 1.5vw;}
.left01_list {float: left;width: 50%;margin-bottom: 2vh;}
.left01_list div:first-child{margin-right: 0.5vw;}
.left01_list div:first-child img{width: 2.6vw;height: 2.6vw;}
.left01_list div:last-child div:first-child{font-size:1.6vh;color:#65a1e5;letter-spacing: 2px;}
.left01_list div:last-child div:last-child{font-size:2.8vh;color:#fff;font-style: italic;}
/*2*/
.left02{}
.left02_contnet{padding: 2vh 0.5vw}
/*3*/
.left03{}
.left03_contnet{margin-top: 2vh; height: 30vh;overflow-y: auto;}
.left03_contnet ul{padding: 0;margin: 0;}  
.left03_contnet ul li{background: rgba(32,158,215,0.3);padding: 0.6vh 0.6vw;margin-bottom: 0.5vh;}
.left03_contnet ul li span{float: right;color:#00fcff; }
.left03_contnet ul li a{color: #fff;cursor: pointer;font-size: 1.4vh;}
.left03_contnet ul li a:hover{color:#00fcff; }

/*right*/
/*1*/
.right01{margin-bottom: 1vh;}
.right01_content{background: url("../img/right01_bg.png");background-size: 100% 100%;padding: 1vh 0.5vw;text-align: center;}
/*2*/
.right02{}
.right02_contnet{margin-top: 2vh; height: 66vh;overflow-y: auto;}
.right02_contnet ul{padding: 0;margin: 0;}  
.right02_contnet ul li{background: rgba(32,158,215,0.3);padding: 0.6vh 0.6vw;margin-bottom: 0.5vh;}
.right02_contnet ul li span{float: right;}
.right02_contnet ul li a{color: #fff;cursor: pointer;display: block;font-size: 1.4vh;}
.right02_contnet ul li a:hover{color:#00fcff; }

/*center*/
/*1*/
.center01{margin-top:12vh;}
.center01 > img{position: absolute;top: 26vh; width: 50vw;height: auto;z-index: 0;}
.center01_content{padding: 0 5vw;position: relative;z-index: 999;}
.center01_content > ul li{height: 26vh;float: left;width: 24.25%;margin-right: 1%;border-radius: 4px;cursor: pointer;}
.center01_content > ul li:last-child{margin-right: 0;}
.center01_content > ul li span{display: block;font-size: 2.6vh;color: #fff;text-align: center;}
.center01_content > ul > li span > img{width: 12vh;margin: 4vh 0 2vh 0;}
.bg01{background: linear-gradient(to bottom, #46e1dc,#3835e7);opacity: 0.9;}
.bg02{background: linear-gradient(to bottom, #c593eb,#3c33e5);opacity: 0.9;}
.bg03{background: linear-gradient(to bottom, #e69981,#d93d6f);opacity: 0.9;}
.bg04{background: linear-gradient(to bottom, #0fb7d2,#053f4c);opacity: 0.9;}

.center01_content_son{padding: 0 5vw;margin-top: 5vh;position: relative;z-index: 999;display: none;}
.JT_box{position: absolute;left: 9vw;top:-4.6vh; z-index: 999;display: block;}
.JT_box > img{width: 2vw;}
.center01_content_son_tit{height: 4.6vh;background: url("../img/bg_s_tit.png") no-repeat;background-size:auto;font-size: 2vh;color: #fff;padding: 0.5vh 0.5vw 0 1.8vw; font-style: oblique;letter-spacing: 1px;}
.center01_content_son_tit button{float: right;border: 1px solid rgba(14, 254, 246, 0.88);color: rgba(14, 254, 246, 0.8);font-size: 1.4vh;background: rgba(7, 12, 52, 0.45); box-shadow: rgb(0 240 255 / 80%) 0px 0px 16px inset;font-style: normal;padding: 0.1vh 0.5vw;margin-left: 0.5vw;}
.center01_content_son_left{width: 34%;}
.center01_content_son_left > img{height: 33.5vh!important;width: 13.5vw!important;}
.center01_content_son div:last-child{margin-left: 1%;width: 65%;background: rgba(0,0,0,0.3);}
.center01_content_son div:last-child ul{padding: 0;margin: 0;height: 29vh;overflow-y: auto;}  
.center01_content_son div:last-child ul li{margin-bottom: 0.5vh;}
.center01_content_son div:last-child ul li span{display: block;float: left;background: rgba(32,158,215,0.3);padding: 0.6vh 0.6vw;color: #fff;font-size: 1.6vh;}
.center01_content_son div:last-child ul li span:first-child{width: 79%;margin-right: 1%;color: #fff;}
.center01_content_son div:last-child ul li span:last-child{width: 20%;text-align: center;color: #e82d28;font-weight: bold;}
.center01_content_son div:last-child ul li.th span{background: rgba(0,132,255,0.5);padding: 0.6vh 0.6vw;color: #fff;font-size: 1.6vh;font-weight: bold;}
/*
.center01_content_son div:last-child ul li a{color: #fff;cursor: pointer;display: block;}
.center01_content_son div:last-child ul li a:hover{color:#00fcff; }
*/
/*time*/
.data{position: absolute;right: 5vw;top: 5vh;z-index: 999;}
.data div{float: left;}
.data div:first-child{padding-right: 1.2vw;}
.data div:last-child{margin-left: 1.2vw;}
.s_line{width: 0.01vw;background:#9debff;height: 2.2vh;margin-top: 1.4vh;}
.data div p{color: #cdddf7;margin: 0;padding: 0;}
.data div p.time {font-size: 3.6vh;font-family: 'ysbth';color: #fff;letter-spacing: 2px;}
.data div p.date{font-size: 1.4vh;margin-top: 0.3vh;}
.data div p.year{font-size: 1.4vh;font-family: 'fzzzh';margin-top: 0.3vh;}

/*图片轮播css*/
.marquee1{width:40vw;height: 32vh; overflow:hidden;margin:5vh auto 0vh auto;position: relative;z-index: 999;}
.marquee1 ul li{float:left;margin-left: 0.45vw;}
.marquee1 ul li:first-child{margin-left: 0;}
.marquee1 ul li img{display:block;height: 32vh;width: auto;border-radius: 4px;}
/* img 放大 */
 .overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%; background: rgba(0, 0, 0, 0.8); display: none;z-index: 9999;cursor: zoom-out; } 
/* 放大后的图片样式 */
.enlarged-img { position: fixed;max-width: 80%;max-height: 80%;top: 50%;left: 50%;transform: translate(-50%, -50%);box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
/* 原始图片样式 */
.zoomable-img { transition: transform 0.3s; }.zoomable-img:hover { transform: scale(1.02);  cursor: pointer;}

/*内容*/


/*滚动条*/
::-webkit-scrollbar{ width:0.2vw!important; height:0.9vh; background:rgba(255,255,255,0.3)!important;}
::-moz-scrollbar{ width:0.2vw!important; height:0.9vh; background:rgba(255,255,255,0.3)!important;}
::-ms-scrollbar{ width:0.2vw!important; height:0.9vh; background:rgba(255,255,255,0.3)!important;}
::-o-scrollbar{ width:0.2vw!important; height:0.9vh; background:rgba(255,255,255,0.3)!important;}
::-webkit-scrollbar-thumb{background:rgba(0,252,255,0.3)!important;}
::-moz-scrollbar-thumb{background:rgba(0,252,255,0.3)!important;}
::-mswebkit-scrollbar-thumb{background:rgba(0,252,255,0.3)!important;}
::-o-scrollbar-thumb{background:rgba(0,252,255,0.3)!important;}
div{
	scrollbar-arrow-color: rgba(0,156,255,1); /**//*三角箭头的颜色*/ 
	scrollbar-face-color: rgba(0,156,255,1); /**//*立体滚动条的颜色*/ 
	scrollbar-3dlight-color: rgba(0,156,255,1); /**//*立体滚动条亮边的颜色*/ 
	scrollbar-highlight-color: rgba(0,156,255,1); /**//*滚动条空白部分的颜色*/ 
	scrollbar-shadow-color: rgba(0,156,255,1); /**//*立体滚动条阴影的颜色*/ 
	scrollbar-darkshadow-color: rgba(0,156,255,1); /**//*立体滚动条强阴影的颜色*/ 
	scrollbar-track-color: #4e657b; /**//*立体滚动条背景颜色*/ 
	scrollbar-base-color:rgba(0,156,255,1); /**//*滚动条的基本颜色*/ 
}






















/*时间*/
.time_box{background: rgba(14,95,255,0.2);height: 20vh;margin: 1.5vh 0;padding: 1.5vh 0.8vw;}
.time_box_border{border:0.1vh solid rgba(100,255,255,0.2);height: 17vh;padding-top: 1vh;border-radius: 5px;}

.time_box ul{padding: 0 3%;margin-top: 1.5vh;}
.time_box ul li{float: left;color: #fff;width: 33.3%;font-size: 1.4vh;margin-bottom: 0.8vh;}
.time_box ul li:nth-of-type(2){text-align: center;}
.time_box ul li:nth-of-type(5){text-align: center;}
.time_box ul li:nth-of-type(3){text-align: right;}
.time_box ul li:nth-of-type(6){text-align: right;}
.time_box ul li img{margin-right: 0.3vw;height: 0.88vw;}
/*地图*/
.map_box{background: rgba(14,95,255,0.2);height: 51.5vh;margin-top: 1.5vh; padding: 1.5vh 0.8vw;}
.map_box_border{border:0.1vh solid rgba(100,255,255,0.2);height: 49vh;border-radius: 5px;padding: 1vh 0.5vw;}
.map_box_border img{height: 47vh;width: 20.8vw;}
/*风机状态*/
.fjzt_box{background:url("../img/kby_bg_fjzt.png") top center no-repeat;height: 89vh;line-height: 89vh; margin-bottom: 1.5vh;background-size: 100% 100%;text-align: center;}
.fjzt_box img{height: 87vh;width: 49vw;}
.fjzt_box_content{}
.fjzt_box_content ul{width: 100%;padding:0 3% 0 4%;}
.fjzt_box_content ul li{float: left;font-size: 1.4vh;color: #fff; background:url("../img/kby_fjzt_bg.png") no-repeat;background-size: 100% 100%;height: 3vh;line-height: 3vh; width: 24.25%;padding-left: 0.8vw;margin:0.8vh 1% 0 0;}
.fjzt_box_content ul li:nth-of-type(4n){margin-right: 0;}
.fjzt_box_content ul li:last-child{margin-right: 0;}
.fjzt_box_content ul li img{width: 2vh;height: 2vh}
.fjzt_box_content ul li span{font-size: 1.2vh;display: inline-block;width: 2.8vw;float: right;text-align: left;}
.fjzt_box_content ul li > i > img{position: relative;bottom: 0.8vh; width: 1.6vh;height: 1.6vh;}
.lx_color span{color: #999;}
.bj_color span{ color: #fd7373;animation:3s linear baojing infinite;}
@keyframes baojing{
		0%{  color:#f90000;}
		20%{  color:#fd9cce;}
	    40%{  color:#f90000;}
	    60%{  color:#fd9cce;}
	    80%{  color:#f90000;}
		100%{  color:#f90000;}
	}
/*升压站状态*/
.syz_box{ background:url("../img/kby_bg_syz.png") top center no-repeat;height: 35.5vh;background-size: 100% 100%;}
.syz_box_son{padding: 1vh 0.8vw;}
.syz_box_border{border:0.1vh solid rgba(100,255,255,0.2);height: 28vh;padding: 1vh 0.5vw; border-radius: 5px;}
.syz_box_border img{height: 26vh;width: 47.2vw;}
/*测点组*/
.cdz_box{background: rgba(14,95,255,0.2);height: 36vh;}
.cdz_box ul{margin-top: 1vh;}
.cdz_box ul li{background: rgba(255,255,255,0.08); color: #fff;font-size: 1.4vh;padding: 0.5vh 0.8vw;margin-top: 0.2vh;}
.cdz_box ul li span{color: #64ffff;float: right;}
/*今日累计报警数*/
.ljbj_box{background: rgba(14,95,255,0.2);height: 20vh;margin: 1.5vh 0;}
.ljbj_title{font-size: 2.4vh;padding: 2vh 0 0.3vh 0; color: #64ffff;font-weight: bold;text-align: center;}
.ljbj_title_ej{font-size: 1.4vh; color: #fff;text-align: center;}
.ljbj_box ul{margin-top: 2vh;}
.ljbj_box ul li{float: left; background: url("../img/kby_ljbj_bg.png") no-repeat;background-size: 100% 100%;width: 2.6vw;height: 6.8vh;line-height: 6.8vh; color: #64ffff;font-size: 5vh;font-weight: bold;text-align: center;margin-right: 1vw;}
.ljbj_box ul li:last-child{margin-right: 0vw;}
.parent{text-align:center;}  
.child{display:inline-block;}  
.child{*display:inline;*zoom:1;}/*IE系列IE8+支持，要IE7 IE6 支持需要加入以下代码使display:inline像display:inline-block一样 */  
/*传感器一览状态*/
.cgqyl_box{background: rgba(14,95,255,0.2);height: 30vh;}
.cgqyl_content{margin-top: 5.6vh;}
.cgqyl_ts{font-size: 2.6vh;font-weight: bold;}
.cgqyl_zt{font-size: 1.4vh;color: #fff;margin: 0.3vh 0 0.6vh 0;}
.cgqyl_img{}
.cgqyl_img img{height: 4.6vh;display: inline}
.color01{background-image:-webkit-linear-gradient(right,#079763,#0ada88); -webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.color02{background-image:-webkit-linear-gradient(right,#0b8fb2,#08e4fa); -webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.color03{background-image:-webkit-linear-gradient(right,#df1f3e,#d08447); -webkit-background-clip:text;-webkit-text-fill-color:transparent; }
.color04{color: #929395;}


.cedian_01{position: absolute;left: 20vw;top: 60vh;z-index: 9999;}
.cedian_wenzi{ background: rgba(0,0,0,0.8);height: 2.2vh;line-height: 2.2vh;padding: 0 0.5vw;}
.cedian_wenzi span{color: #64ffff;font-size: 1.4vh;font-weight: bold;}
.yuandian{width: 1.8vh;height: 1.8vh;background: #fff;border-radius: 50%;margin: 0.5vh auto 0 auto;box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.66);}


